* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
}

/* HEADER */
.header .container-fluid {
  background-color: #000;
}
.header .container-fluid .header-content {
  height: 50px;
  width: 95%;
  margin: 0 auto;
}
.header .container-fluid .header-content .header-logo img {
  height: 32px;
  width: 116px;
}
.header .container-fluid .header-content .header-right ul li {
  display: inline;
  margin-left: 10px;
}
.header .container-fluid .header-content .header-right ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.header .container-fluid .header-content .header-right ul li a img {
  width: 31px;
  height: 31px;
}

/* MENU */
.menu-shoes .container-fluid .menu-content {
  width: 95%;
  margin: 0 auto;
  height: 50px;
}
.menu-shoes .container-fluid .menu-content ul {
  list-style: none;
}
.menu-shoes .container-fluid .menu-content ul li {
  margin-right: 25px;
  display: inline;
}
.menu-shoes .container-fluid .menu-content ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.menu-shoes .container-fluid .menu-content ul li .menu-opacity {
  opacity: 0.7;
}

/* CAROUSEL */
.my-carousel .carousel {
  overflow: hidden;
}
.my-carousel .carousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.my-carousel .carousel .carousel-control-prev {
  left: -50px;
  top: -30px;
}
.my-carousel .carousel .carousel-control-prev .carousel-control-prev-icons {
  background-image: url(/assets/img/Polygon\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 60px;
}
.my-carousel .carousel .carousel-control-next {
  top: -30px;
  right: -60px;
}
.my-carousel .carousel .carousel-control-next .carousel-control-next-icons {
  background: url(/assets/img/Polygon\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 60px;
}
.my-carousel .carousel .carousel-inner .carousel-item {
  position: relative;
}
.my-carousel .carousel .carousel-inner .carousel-item img {
  margin-top: 170px;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -20%;
  left: 10%;
  width: 90%;
  margin: 0 auto;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content .carousel-img {
  width: 55%;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content .carousel-title {
  width: 45%;
  margin-top: 165px;
  padding-right: 60px;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content .carousel-title h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content .carousel-title p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content .carousel-title button {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  background-color: #e1b067;
  color: #000;
  transition: all 0.5s;
}
.my-carousel .carousel .carousel-inner .carousel-item .carousel-content .carousel-title button:hover {
  background-color: #9b5e03;
  color: #fff;
}
/* PRODUCT*/
.product .container h1 {
  font-size: 46px;
  font-weight: 600;
}
.product .container .row .col .card {
  min-height: 550px;
}
.product .container .row .col .card .card-body h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
.product .container .row .col .card .card-body p {
  color: #b7b4b4;
}
.product .container .row .col .card .card-bottom .card-btn {
  width: 60%;
}
.product .container .row .col .card .card-bottom .card-btn a {
  padding: 10px 0;
  border: none;
  background-color: #e1b067;
  transition: all 0.5s;
  text-decoration: none;
}
.product .container .row .col .card .card-bottom .card-btn a:hover {
  background-color: #9b5e03;
  color: #fff;
}
.product .container .row .col .card .card-bottom .card-price {
  width: 40%;
  padding: 10px 0;
  background-color: #dedddc;
  font-weight: 600;
}

/* FOOTER */
.footer .container-fluid {
  padding: 0;
}
.footer .container-fluid .footer-content .row {
  margin-top: 10px;
  width: 85%;
  margin: 0 auto;
}
.footer .container-fluid .footer-content .row .col-4 {
  margin: 20px 0;
}
.footer .container-fluid .footer-content .row .col-4 h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.footer .container-fluid .footer-content .row .col-4 ul {
  list-style: none;
}
.footer .container-fluid .footer-content .row .col-4 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
.footer .container-fluid .footer-content .row .items-2 {
  margin: 20px 0;
}
.footer .container-fluid .footer-content .row .items-2 p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer .container-fluid .footer-content .row .items-2 a {
  text-decoration: none;
  color: #dc908c;
  font-size: 13px;
  font-weight: 400;
}
.footer .container-fluid .footer-content .row-bottom .items-2 {
  margin: 40px 0;
}
.footer .container-fluid .content-bottom {
  background-color: #ececec;
}