// text--color
$text-light-c0: #fff;
$text-light-c1: #b7b4b4;
$text-dark-c0: #000;
// Background--color
$bg-light-c0: #fff;
$bg-dark-c0: #000;
$bg-light-c1: #ececec;
$bg-light-c2: #f8f8f8;
$bg-light-c3: #dedddc;

//font-size:
$fs-1: 12px;
$fs-2: 13px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 22px;
//font-weight:
$fw-light: 300;
$fw-regular: 400;
$fw-semi: 600;
$fw-bold: 700;
//Button:
$bg-btn-warning: #e1b067;
$bg-btnhover-warning: #9b5e03;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  font-family: 'Inter', sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  .container-fluid {
    background-color: $bg-dark-c0;

    .header-content {
      height: 50px;
      width: 95%;
      margin: 0 auto;

      .header-logo {
        img {
          height: 32px;
          width: 116px;
        }
      }

      .header-right {
        ul {
          li {
            display: inline;
            margin-left: 10px;

            a {
              text-decoration: none;
              color: $text-light-c0;
              font-size: $fs-3;
              font-weight: $fw-light;

              img {
                width: 31px;
                height: 31px;
              }
            }
          }
        }
      }
    }
  }
}

/* MENU */
.menu-shoes {
  .container-fluid {
    .menu-content {
      width: 95%;
      margin: 0 auto;
      height: 50px;

      ul {
        list-style: none;

        li {
          margin-right: 25px;
          display: inline;

          a {
            text-decoration: none;
            color: $text-dark-c0;
            font-size: 20px;
            line-height: 24px;
            font-weight: $fw-light;

          }

          .menu-opacity {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

/* CAROUSEL */
.my-carousel {
  .carousel {
    .carousel-indicators {
      [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    overflow: hidden;

    .carousel-control-prev {
      left: -50px;
      top: -30px;

      .carousel-control-prev-icons {
        background-image: url(/assets/img/Polygon\ 2.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 60px;
      }
    }

    .carousel-control-next {
      top: -30px;
      right: -60px;


      .carousel-control-next-icons {
        background: url(/assets/img/Polygon\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 60px;
      }
    }



    .carousel-inner {
      .carousel-item {
        position: relative;

        img {
          margin-top: 170px;
        }

        .carousel-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          top: -20%;
          left: 10%;
          width: 90%;
          margin: 0 auto;

          .carousel-img {
            width: 55%;

            img {}
          }

          .carousel-title {
            width: 45%;
            margin-top: 165px;
            padding-right: 60px;

            h3 {
              font-style: normal;
              font-weight: $fw-semi;
              font-size: 36px;

            }

            p {
              font-style: normal;
              font-weight: $fw-light;
              font-size: $fs-3;
              line-height: 24px;
            }

            button {
              width: 150px;
              height: 50px;
              margin-top: 15px;
              background-color: $bg-btn-warning;
              color: $text-dark-c0;
              transition: all .5s;

              &:hover {
                background-color: $bg-btnhover-warning;
                color: $text-light-c0;

              }
            }
          }
        }
      }
    }

    button {}
  }
}

/* PRODUCT*/
.product {
  .container {

    h1 {
      font-size: 46px;
      font-weight: $fw-semi;
    }

    .row {
      .col {
        .card {
          min-height: 550px;

          img {}

          .card-body {


            h3 {
              font-size: 24px;
              font-weight: $fw-regular;
              margin-bottom: 25px;
            }

            p {
              color: $text-light-c1;
            }
          }

          .card-bottom {


            .card-btn {
              width: 60%;

              button {
                padding: 10px 0;
                border: none;
                background-color: $bg-btn-warning;
                transition: all .5s;

                &:hover {
                  background-color: $bg-btnhover-warning;
                  color: $text-light-c0;
                }
              }
            }

            .card-price {
              width: 40%;
              padding: 10px 0;
              background-color: $bg-light-c3;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}


/* FOOTER */
.footer {
  .container-fluid {
    padding: 0;

    .footer-content {

      .row {
        margin-top: 10px;
        width: 85%;
        margin: 0 auto;

        .col-4 {
          margin: 20px 0;

          h3 {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 20px;
          }

          ul {
            list-style: none;

            li {
              a {
                font-size: $fs-2;
                font-weight: $fw-regular;
                text-decoration: none;
                color: $text-dark-c0;
              }
            }
          }
        }

        .items-2 {
          margin: 20px 0;

          p {
            font-size: $fs-2;
            font-weight: $fw-regular;
            margin-bottom: 15px;
          }

          a {
            text-decoration: none;
            color:
              #dc908c;
            font-size: $fs-2;
            font-weight: $fw-regular;

          }
        }
      }

      .row-bottom {
        .items-2 {
          margin: 40px 0;
        }
      }

    }

    .content-bottom {
      background-color: $bg-light-c1;
    }

  }
}