/* CAROUSEL */
.my-carousel {
  .carousel {
    .carousel-indicators {
      [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    overflow: hidden;

    .carousel-control-prev {
      left: -50px;
      top: -30px;

      .carousel-control-prev-icons {
        background-image: url(/assets/img/Polygon\ 2.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 60px;
      }
    }

    .carousel-control-next {
      top: -30px;
      right: -60px;


      .carousel-control-next-icons {
        background: url(/assets/img/Polygon\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 60px;
      }
    }



    .carousel-inner {
      .carousel-item {
        position: relative;

        img {
          margin-top: 170px;
        }

        .carousel-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          top: -20%;
          left: 10%;
          width: 90%;
          margin: 0 auto;

          .carousel-img {
            width: 55%;

            img {}
          }

          .carousel-title {
            width: 45%;
            margin-top: 165px;
            padding-right: 60px;

            h3 {
              font-style: normal;
              font-weight: $fw-semi;
              font-size: 36px;

            }

            p {
              font-style: normal;
              font-weight: $fw-light;
              font-size: $fs-3;
              line-height: 24px;
            }

            button {
              width: 150px;
              height: 50px;
              margin-top: 15px;
              background-color: $bg-btn-warning;
              color: $text-dark-c0;
              transition: all .5s;

              &:hover {
                background-color: $bg-btnhover-warning;
                color: $text-light-c0;

              }
            }
          }
        }
      }
    }

    button {}
  }
}

/* PRODUCT*/
.product {
  .container {

    h1 {
      font-size: 46px;
      font-weight: $fw-semi;
    }

    .row {
      .col {
        .card {
          min-height: 550px;

          img {}

          .card-body {


            h3 {
              font-size: 24px;
              font-weight: $fw-regular;
              margin-bottom: 25px;
            }

            p {
              color: $text-light-c1;
            }
          }

          .card-bottom {


            .card-btn {
              width: 60%;

              a {
                padding: 10px 0;
                border: none;
                background-color: $bg-btn-warning;
                transition: all .5s;
                text-decoration: none;

                &:hover {
                  background-color: $bg-btnhover-warning;
                  color: $text-light-c0;
                }
              }
            }

            .card-price {
              width: 40%;
              padding: 10px 0;
              background-color: $bg-light-c3;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}